__files/ConsultaInfoAssinante/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GestaoCliente" targetNamespace="http://www.oi.net.br/Clientes/SN/GestaoCliente/v1.0" xmlns:data1="http://www.oi.net.br/Clientes/GestaoCliente/ConsultarCliente/XSD/v1.0" xmlns:data2="http://www.oi.net.br/Clientes/GestaoCliente/ConsultaInfoAssinante/XSD/v1.0" xmlns:data3="http://www.oi.net.br/Clientes/GestaoCliente/RealizaMigracaoOfertas/XSD/v1.0" xmlns:data4="http://www.oi.net.br/Clientes/GestaoCliente/RealizarPreCadastro/XSD/v1.0" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.oi.net.br/Clientes/SN/GestaoCliente/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <soap:annotation>
    <soap:documentation>
            PRJ:CRM UNIFICADO; Oi Livre
            Autor:Sander Bezerra
            versao: 1.0
            Data Publicacao: 15/12/2015 14:18:41
            Release: 3
            Data Release: 15/09/2016 13:16:37
        </soap:documentation>
  </soap:annotation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:import namespace="http://www.oi.net.br/Clientes/GestaoCliente/ConsultarCliente/XSD/v1.0" schemaLocation="http://soacliente.intranet:80/Clientes/GestaoCliente/v1.0?SCHEMA%2FClientes%2FSN%2FGestaoCliente%2Fv1.0%2FResources%2FXSD%2FGestaoCliente.consultarCliente.v1.0"/>
      <xsd:import namespace="http://www.oi.net.br/Clientes/GestaoCliente/ConsultaInfoAssinante/XSD/v1.0" schemaLocation="http://soacliente.intranet:80/Clientes/GestaoCliente/v1.0?SCHEMA%2FClientes%2FSN%2FGestaoCliente%2Fv1.0%2FResources%2FXSD%2FGestaoCliente.consultaInfoAssinante.v1.0"/>
      <xsd:import namespace="http://www.oi.net.br/Clientes/GestaoCliente/RealizaMigracaoOfertas/XSD/v1.0" schemaLocation="http://soacliente.intranet:80/Clientes/GestaoCliente/v1.0?SCHEMA%2FClientes%2FSN%2FGestaoCliente%2Fv1.0%2FResources%2FXSD%2FGestaoCliente.realizaMigracaoOfertas.v1.0"/>
      <xsd:import namespace="http://www.oi.net.br/Clientes/GestaoCliente/RealizarPreCadastro/XSD/v1.0" schemaLocation="http://soacliente.intranet:80/Clientes/GestaoCliente/v1.0?SCHEMA%2FClientes%2FSN%2FGestaoCliente%2Fv1.0%2FResources%2FXSD%2FGestaoCliente.realizarPreCadastro.v1.0"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="consultarClienteRequest">
    <wsdl:part element="data1:ConsultarClienteRequest" name="consultarClienteRequest"/>
  </wsdl:message>
  <wsdl:message name="consultarClienteResponse">
    <wsdl:part element="data1:ConsultarClienteResponse" name="consultarClienteResponse"/>
  </wsdl:message>
  <wsdl:message name="consultaInfoAssinanteRequest">
    <wsdl:part element="data2:ConsultaInfoAssinanteRequest" name="consultaInfoAssinanteRequest"/>
  </wsdl:message>
  <wsdl:message name="consultaInfoAssinanteResponse">
    <wsdl:part element="data2:ConsultaInfoAssinanteResponse" name="consultaInfoAssinanteResponse"/>
  </wsdl:message>
  <wsdl:message name="realizaMigracaoOfertasRequest">
    <wsdl:part element="data3:RealizaMigracaoOfertasRequest" name="realizaMigracaoOfertasRequest"/>
  </wsdl:message>
  <wsdl:message name="realizaMigracaoOfertasResponse">
    <wsdl:part element="data3:RealizaMigracaoOfertasResponse" name="realizaMigracaoOfertasResponse"/>
  </wsdl:message>
  <wsdl:message name="realizarPreCadastroRequest">
    <wsdl:part element="data4:RealizarPreCadastroRequest" name="realizarPreCadastroRequest"/>
  </wsdl:message>
  <wsdl:message name="realizarPreCadastroResponse">
    <wsdl:part element="data4:RealizarPreCadastroResponse" name="realizarPreCadastroResponse"/>
  </wsdl:message>
  <wsdl:portType name="GestaoClientePortType">
    <wsdl:operation name="consultarCliente">
      <wsdl:input message="tns:consultarClienteRequest"/>
      <wsdl:output message="tns:consultarClienteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultaInfoAssinante">
      <wsdl:input message="tns:consultaInfoAssinanteRequest"/>
      <wsdl:output message="tns:consultaInfoAssinanteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="realizaMigracaoOfertas">
      <wsdl:input message="tns:realizaMigracaoOfertasRequest"/>
      <wsdl:output message="tns:realizaMigracaoOfertasResponse"/>
    </wsdl:operation>
    <wsdl:operation name="realizarPreCadastro">
      <wsdl:input message="tns:realizarPreCadastroRequest"/>
      <wsdl:output message="tns:realizarPreCadastroResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestaoClienteBinding" type="tns:GestaoClientePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarCliente">
      <soap:operation soapAction="http://www.oi.net.br/Clientes/GestaoCliente/v1.0/GestaoCliente.ConsultarCliente"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaInfoAssinante">
      <soap:operation soapAction="http://www.oi.net.br/Clientes/GestaoCliente/v1.0/GestaoCliente.ConsultaInfoAssinante"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizaMigracaoOfertas">
      <soap:operation soapAction="http://www.oi.net.br/Clientes/GestaoCliente/v1.0/GestaoCliente.RealizaMigracaoOfertas"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarPreCadastro">
      <soap:operation soapAction="http://www.oi.net.br/Clientes/GestaoCliente/v1.0/GestaoCliente.RealizarPreCadastro"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestaoClienteBindingQSService">
    <wsdl:documentation>OSB Service</wsdl:documentation>
    <wsdl:port binding="tns:GestaoClienteBinding" name="GestaoClienteBindingQSPort">
      <soap:address location="http://digpx12.interno:8070/Clientes/GestaoCliente/v1.0"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>